#insightly-fieldset-wrapper .col-source,
#mapping-fieldset-wrapper .col-source {
  float: left;
  width: 45%;
}

#insightly-fieldset-wrapper .col-target,
#mapping-fieldset-wrapper .col-target {
  float: left;
}

#insightly-fieldset-wrapper .col-remove,
#mapping-fieldset-wrapper .col-remove {
  float: right;
  margin-top: 30px;
  width: 10%;
}

